.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.main, .head {
  max-width: 800px;
  text-align: left;
  padding: 1rem;  
  margin: 1rem;
}

@media(min-width: 800px) {
  .main, .head{
    margin: 1rem auto;
    max-width: 800px;
  }
}

.sitePrompt {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: 1fr 100px;
  align-items: center;  
}

.waiting {
  text-align: center;
}

.error {
  font-weight: bold;
  color: crimson;
}

.date {
  width: 10rem;
  margin-right: 3rem !important;
}

.catList, .postList, .pagesList {
  max-height: 300px;
  overflow: auto;
  border: 1px solid gray;
  cursor: pointer;
}

h3 {
  margin-top: 3rem;
  margin-bottom: 0.5rem;
}

.leftIcon {
  margin-left: 1rem;
}

.playBtn {
  margin: 1rem !important;
}

.fullFrame{
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.pageView {
  width: 100%;
  height: 100%;
}

.options {
  display: grid;
  grid-template-columns: 1fr;
}

.intervalInput {
  width: 10rem;
  margin: 1rem 0 !important;
}
