.logo {
  margin-right: 1rem;
  margin-bottom: -1rem;
}

.main, .head {
  max-width: 800px;
  text-align: left;
  padding: 1rem;  
  margin: 1rem;
}

@media(min-width: 800px) {
  .main, .head{
    margin: 1rem auto;
    max-width: 800px;
  }
}

.langSelector ul {
  list-style: none;
  text-align: right;  
  padding: 0;
  margin: 0;
}

.langSelector li {
  display: inline;
  margin-left: 0.5rem;
  font-weight: bold;
  cursor: pointer;
  color: gray;
}

.langSelector .curLang {
  color: black;
}

.sitePrompt {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: 1fr 100px;
  align-items: center;  
}

.waiting {
  text-align: center;
}

.error {
  font-weight: bold;
  color: crimson;
}

.date {
  width: 10rem;
  margin-right: 3rem !important;
}

.dateFirstNote {
  font-size: 10pt;
}

.catList, .postList, .pagesList {
  max-height: 300px;
  overflow: auto;
  border: 1px solid gray;
  cursor: pointer;
  margin-bottom: 0.3rem !important;
}

h3 {
  margin-top: 3rem;
  margin-bottom: 0.5rem;
}

.leftIcon {
  margin-left: 1rem;
}

.playBtn {
  margin: 1rem auto;
  text-align: center;
}

.fullFrame{
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.pageView {
  width: 100%;
  height: 100%;
}

.options {
  display: grid;
  grid-template-columns: 1fr;
}

.intervalInput {
  width: 10rem;
  margin: 1rem 0 !important;
}

.foot {
  margin: 3rem auto;
  text-align: center;
  font-size: 0.8rem;
  color: gray;
}

.foot a {
  color: inherit;
  text-decoration: none;
}

.foot a:hover {
  text-decoration: underline;
}
